<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkinfo.carhouse.sys.dao.SysCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mkinfo.carhouse.sys.model.SysCheck">
        <id column="SHEETID" property="sheetid" />
        <result column="CARID" property="carid" />
        <result column="USERID" property="userid" />
        <result column="STATE" property="state" />
        <result column="ADMINID" property="adminid" />
        <result column="STARTTIME" property="starttime" />
        <result column="ENDTIME" property="endtime" />
    </resultMap>

</mapper>
