<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkinfo.carhouse.sys.dao.SysSaleCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mkinfo.carhouse.sys.model.SysSaleCar">
        <id column="SHEETID" property="sheetid" />
        <result column="CARID" property="carid" />
        <result column="SELLERID" property="sellerid" />
        <result column="BUYERID" property="buyerid" />
        <result column="DEALTIME" property="dealtime" />
        <result column="DEALPRICE" property="dealprice" />

        <!-- 用户表，一对一 -->
        <association property="sysUser" javaType="SysUser">
            <id column="SHEETID_USER" property="sheetid" />
            <result column="PHONE" property="phone" />
            <result column="PASSWORD" property="password" />
            <result column="PETNAME" property="petname" />
            <result column="PERSONNALCATEGORY" property="personnalcategory" />
            <result column="GRADE" property="grade" />
        </association>

		<!-- ExhCar字段，一对一 -->
		<association property="exhCar" javaType="ExhCar">
			<id column="SHEETID" property="sheetid"/>
			<result column="REGISTRATIONTIME" property="registrationtime"/>
			<result column="MILEAGE" property="mileage"/>
			<result column="TRANSFERRECORD" property="transferrecord"/>
			<result column="PRICE" property="price"/>
			<result column="USEPROPERTIES" property="useproperties"/>
			<result column="PROPERTYRIGHT" property="propertyright"/>
			<result column="STATE" property="state"/>
			<result column="DETAILEDID" property="detailedid"/>
			<result column="USERID" property="userid"/>
			<result column="CREATETIME" property="createtime"/>
		</association>
    </resultMap>

    <!-- 查询完整列表信息 -->
    <select id="sysSaleCarList" resultMap="BaseResultMap">
        SELECT
        	s.DEALTIME AS 'dealtime',

	        e1.SHEETID AS 'sheetid',
	        e1.REGISTRATIONTIME AS 'registrationtime',
	        e1.MILEAGE AS 'mileage',
	        e1.TRANSFERRECORD AS 'transferrecord',
	        e1.PRICE AS 'price',
	        e1.USEPROPERTIES AS 'useproperties',
	        e1.PROPERTYRIGHT AS 'propertyright',
	        e1.STATE AS 'state',
	        e1.DETAILEDID AS 'detailedid',
	        e1.USERID AS 'userid',

	        s2.SHEETID AS SHEETID_USER,
	        s2.USERNAME AS 'username'
        FROM
	        sys_sale_car s LEFT JOIN exh_car e1 ON s.CARID = e1.SHEETID
	        LEFT JOIN sys_user s2 ON s.SELLERID = s2.SHEETID
			ORDER BY s.DEALTIME DESC
    </select>

</mapper>
