<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkinfo.carhouse.sys.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mkinfo.carhouse.sys.model.SysUser">
        <id column="SHEETID" property="sheetid" />
        <result column="PHONE" property="phone" />
        <result column="PASSWORD" property="password" />
        <result column="PETNAME" property="petname" />
        <result column="PERSONNALCATEGORY" property="personnalcategory" />
        <result column="GRADE" property="grade" />
    </resultMap>

</mapper>
